.color-palete {
  display: table-row;
}


.color {
  margin-top: 2%;
 
    display: table-cell;
    width: 40px;
  border: 1px solid black;
  height: 30px;

}

#pixel-board {border: 1px solid black;
    max-height: 40%;
    display: table;
    margin-left: 50px;
    margin-top: 20px;
}

.row { display: table-row;}
.row2 { display: table-row;}
.row3 {display: table-row;}
.row4 {display: table-row;}
.row5 { display: table-row;}

.pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    max-width: 20%;
    display: table-cell;
    background-color: white;
    
}