h1{ text-align: center;}

body {background-color: pink;}

  li {
    border: 1px solid black;
    display: inline-block;
    margin: 1px;
    width: 30px;
    height: 30px;
    left: 32rem;
    top: 3rem;
    position: relative;
    
  }
  li:nth-child(1) {

    
    background-color: black;
  }

  li:nth-child(2) {

    
    background-color: purple;
  }

  li:nth-child(3) {

    
    background-color: violet;
    
  }

  li:nth-child(4) {

    
    background-color: blue;
  } 

#pixel-board {border: 1px solid black;
    max-height: 40%;
    display: table;
    margin-left: 33rem;
    margin-top: 8rem;

}

.row { display: table-row;}
.row2 { display: table-row;}
.row3 {display: table-row;}
.row4 {display: table-row;}
.row5 { display: table-row;}

.pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    max-width: 20%;
    display: table-cell;
    background-color: white;
    
}

#clear-board{
left: 38rem;
bottom: 28rem;
position: relative;
margin-top: 180px;
background-color: pink;
border-radius: 7px;
font-style: italic;
}